body {
    /* background: linear-gradient(to right, cyan,blue,red);
    background-attachment: fixed;
    background-repeat: no-repeat; */
    background-image: url(./digital-art-fire.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: coverq;


}

#hero {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    border: 1px solid grey;
    /* Border width, style, and color */
    width: 440PX;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: green;
    font-family: "Press Start 2P";
    
    padding: 20px;

}

#p1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: cyan dotted underline;
    font-size: 30px;
    font-variant: small-caps;
    border-style: ridge;
    padding: 10px;
    padding-left: 20px;
    border-width: 5px;
    border-color: aquamarine;
    border-radius: 20px;

}


#siv {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
    /* width: 50%; */


}

#siv1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    border: 2px ridge black;
    border-radius: 10px;
    margin-top: 15px;
    /* width: 30%; */
    padding: 7px;
    /* float: left; */
}

#goat {
    /* clear: both; */

}

#box1 {
    border: 2px tomato;
    width: 500px;
    height: 500px;
    background-color: cyan;
    margin: auto;
    /* position: relative;
    left: 50px; */
    /* position: sticky; */
    /* position: fixed\\\; */
    
}

#box2 {
    border: 2px;
    width: 200px;
    height: 200px;
    background-color: red;

    position: absolute;
    top: 850px;
    left: 700px;
}

a:link{
    color: rgb(2, 253, 2);
}
a:visited{
    color: rgb(5, 4, 3);
}
a:hover{
    color: rgb(68, 0, 255);
}

a:active{
    color: rgb(8, 255, 160);
}


a{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    border: 4px ridge;
    border-radius: 20px;    
    display: flex;
    justify-content: center;
   
}

li:nth-child(even){
    background-color: darkslateblue;
    font-size: 36px;
}
li:nth-child(odd){
    background-color: rgb(61, 139, 138);
    font-size: 26px;
}

#hi{
    font-size: 240px;
    text-align: center;
    border: 5px solid; 
    border-radius: 20px;
    background-color: aqua;
    width: 700px;
    margin: auto;
    /* transform: skew(20deg,20deg); */
    transform: scale(0.2,0.3);
     transform: rotate(20deg); 
   
}

#anim{
    font-size: 300px;
    font-family: 'Courier New', Courier, monospace;
    border: 4px ridge;
    border-radius: 20px;  
    width: 900px;
    margin-top: 300px;
    animation: soud;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: easy; 
    

}
@keyframes soud {

    from{
        margin-left: 100%;
    }
    to{
        margin-left: 0%;
    }
}