body {
    /* background: linear-gradient(to right, cyan,blue,red);
    background-attachment: fixed;
    background-repeat: no-repeat; */
    background-image: url(./digital-art-fire.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: coverq;


}

#hero {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    border: 1px solid grey;
    /* Border width, style, and color */
    width: 440PX;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: green;
    font-family: "Press Start 2P";
    border: 5px solid;
    padding: 20px;

}

#p1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: cyan dotted underline;
    font-size: 30px;
    font-variant: small-caps;
    border-style: ridge;
    padding: 10px;
    padding-left: 20px;
    border-width: 5px;
    border-color: aquamarine;
    border-radius: 20px;

}


#siv {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
    /* width: 50%; */


}

#siv1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    border: 2px ridge black;
    border-radius: 10px;
    margin-top: 15px;
    /* width: 30%; */
    padding: 7px;
    /* float: left; */
}

#goat {
    /* clear: both; */

}

#box1 {
    border: 2px tomato;
    width: 500px;
    height: 500px;
    background-color: cyan;
    margin: auto;
    /* position: relative;
    left: 50px; */
    /* position: sticky; */
    position: fixed;
    
}

#box2 {
    border: 2px;
    width: 200px;
    height: 200px;
    background-color: red;

    position: absolute;
    top: 850px;
    left: 700px;
}